# Supabase Configuration
VITE_SUPABASE_URL=https://temqncyzruryimbbzfcv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlbXFuY3l6cnVyeWltYmJ6ZmN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4Nzc1OTEsImV4cCI6MjA4MTQ1MzU5MX0.acNeAflrno3U7fDknRVQkAcuEI3Rx7jUgDwcbUsy-w4

# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=rzp_test_RtquCrCtXArTcZ
